* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 14%;
}

.container-right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 138px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

P {
    font-size: 24px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 30px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background: #888bd4;
    transition: 0.5s;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;

}








@media screen and (max-width: 1346px) {
    .container-left {
        display: inline-block;
        width: 60%;
        padding: 36px;
        margin-top: 14%;
    }

    .container-right {
        display: inline-block;
        height: 100vh;
        width: 40%;
        position: absolute;
    }


    img {
        position: absolute;
        max-width: 80%;
    }

    h1 {
        font-size: 65px;
        line-height: 70px;
        width: auto;
        height: auto;
        margin: 58px 54px 0 54px;
        text-align: left;

    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: left;
        font-size: 25px;
        line-height: 50px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

    a:nth-child(2) {
        opacity: 0.4;
    }

    a:hover {
        opacity: 0.4;
    }

    a:active {
        opacity: 0.8;
    }

    header {
        margin: 24px 0 0 57px;
    }
}





@media screen and (max-width: 1203px) {
    .container-left {
        display: inline-block;
        width: 60%;
    }

    .container-right {
        display: inline-block;
        height: 100vh;
        width: 40%;
        position: absolute;
    }


    img {
        position: absolute;
        max-width: 80%;
    }

    h1 {
        font-size: 60px;
        line-height: 70px;
        width: auto;
        height: auto;
        margin: 50px 50px 0 50px;
        text-align: left;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: left;
        font-size: 23px;
        line-height: 45px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

    a:nth-child(2) {
        opacity: 0.4;
    }

    a:hover {
        opacity: 0.4;
    }

    a:active {
        opacity: 0.8;
    }

    header {
        margin: 24px 0 0 57px;
    }

    a {
        font-size: 25px;
    }
}



@media screen and (max-width: 1203px) {
    a {
        font-size: 22px;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
        width: auto;
        height: auto;
        margin: 50px 50px 0 50px;
        text-align: left;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: left;
        font-size: 20px;
        line-height: 40px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}





@media screen and (max-width: 1072px) {
    a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1030px) {
    a {
        font-size: 18px;
    }
}

@media screen and (max-width: 975px) {
    a {
        font-size: 16px;
    }
}

@media screen and (max-width: 934px) {
    a {
        font-size: 14px;
    }
}







@media screen and (max-width: 900px) {

    .container-left {
        width: 95%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 100%;

    }

    h1 {
        font-size: 38px;
        line-height: 52px;
        width: auto;
        height: auto;
        margin: 58px 54px 0 54px;
        text-align: center;

    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
    }

    button {

        width: 200px;
        height: 52px;
        font-size: 20px;

    }


    header {
        display: none;
    }

}









@media screen and (max-width: 854px) {

    .container-left {
        width: 95%;
        height: 50%;
        padding: 0;
        margin: 0;
    }


    h1 {
        font-size: 38px;

    }

    p {

        font-size: 20px;
        line-height: 40px;
    }




}





@media screen and (max-width: 575px) {

    .container-left {
        width: 93%;
        height: 60%;
        padding: 0;
        margin: 0;
    }


    h1 {
        font-size: 36px;

    }

    p {

        font-size: 18px;
        line-height: 35px;
    }

    img {
        position: static;
        width: 80%;

    }



}





@media screen and (max-width: 428px) {

    .container-left {
        width: 93%;
        height: 55%;
        padding: 0;
        margin: 0;
    }


    h1 {
        font-size: 34px;

    }

    p {
        font-size: 17px;
        line-height: 30px;
    }

    img {
        position: static;
        width: 80%;

    }



}



@media screen and (max-width: 408px) {

    .container-left {
        width: 93%;
        height: 60%;
        padding: 0;
        margin: 0;
    }


}


@media screen and (max-width: 390px) {

    .container-left {
        width: 95%;
        height: 65%;
        padding: 0;
        margin: 0;
    }


}




@media screen and (max-width: 375px) {

    .container-left {
        width: 100%;
        height: 80%;
        padding: 0;
        margin: 0;
    }


}